<% if (totalPages > 1) { %>
<div class="pagination">
    <% if (currentPage > 1) { %>
    <a href="?page=<%= currentPage - 1 %>" class="btn btn-secondary">Previous</a>
    <% } %>

    <% for(let i = 1; i <= totalPages; i++) { %>
    <a href="?page=<%= i %>" 
       class="btn <%= currentPage === i ? 'btn-primary' : 'btn-secondary' %>">
        <%= i %>
    </a>
    <% } %>

    <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %>" class="btn btn-secondary">Next</a>
    <% } %>
</div>
<% } %>